.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store

.env



!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep



!outputs/figs/.gitkeep
!outputs/tables/.gitkeep
!outputs/maps/.gitkeep

report/final_report.pdf